*.pyc
/archives
/BigGAN-128
/val_ilsvrc2012
/__pycache__
/caffe_ilsvrc12
/CatAnnotationDataset
/CIFAR10
/dir_per_class
/dir_per_class_misc
/extra
/ilsvrc2012_train
/mini-image-net
/pokemon
/pokemon_extra
/small
/summary
/unsanitized
/unsanitized_pokemon
/celebaHQ
*.tar.gz
*.jpeg
*.h5